body {
  max-width: 768px;
  margin: 0 auto;
	background: #111;
	color: #ccc;
	font-family: 'Voltaire';
	text-align: center;
}

section {
	padding: 0 5% 0 5%;
}

section.hero {
	padding: 0;
  margin-top: 30px;
}

a:link, a:visited {
    color: #aaf;
    text-decoration: underline;
}

a:link:active, a:hover {
    color: white;
    text-decoration: underline;
}

h1 {
	margin-top: 50px;
	font-family: 'Teko';
	font-size: 2.1em;
	color: white;
}

h2 {
	margin-top: 100px;
	font-family: 'Teko';
	font-size: 1.5em;
	color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(11, 180px);
  grid-gap: .3em;
}

#photo-1 {
	background-image: url('./../img/carlyn-200.jpg');
}
#photo-2 {
	background-image: url('./../img/karen-200.jpg');
}
#photo-3 {
	background-image: url('./../img/greg-200.jpg');
}
#photo-4 {
	background-image: url('./../img/alex-200.jpg');
}
#photo-5 {
  background-image: url('./../img/gabe-200.jpg');
}
#photo-6 {
	background-image: url('./../img/johnny-200.jpg');
}
#photo-7 {
  background-image: url('./../img/matt-200.jpg');
}
#photo-8 {
	background-image: url('./../img/michael-200.jpg');
}
#photo-9 {
	background-image: url('./../img/india-200.jpg');
}
#photo-10 {
	background-image: url('./../img/ryan-200.jpg');
}

#photo-11 {
	background-image: url('./../img/mullaney-200.jpg');
}

.photo {
		background-color: black;
		vertical-align: middle;
		color: white;
		text-shadow: 1px 1px 2px black;
    font-size: .9em;
    background-size: 100% 100%;
	}

.full-photo {
	width: 500px;
    height: auto;
}

.spotlight {
  grid-column: 1/3;
  grid-row: 1/3;
}

.bio {
  display: none;
}

.bio-spotlight {
  display: inline;
  grid-column: 3/5;
  grid-row: 1/3;
  background-color: #ccc;
  color: #222;
  text-align: left;
  padding: 8px;
  font-size: 14pt;
  overflow-y: scroll;
}

strong {
  font-variant-caps: small-caps;
  font-size: 1.3em;
}

@media only screen and (min-device-width : 768px) {
	body {
		font-size: 1.6em;
	}
	.full-photo {
		width: 100%;
    	height: auto;
	}
  .grid {
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: repeat(6, 160px);
  }


	#photo-1 {
	}

	#photo-2 {
	}

	#photo-3 {
	}

	#photo-4 {
	}

	#photo-5 {
	}

	#photo-6 {
	}

	#photo-7 {
	}

	#photo-8 {
	}

	#photo-9 {
	}

	#photo-10 {
	}

	#photo-11 {
	}
}

.banner-grid {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 300px;
}

.banner {
	background-image: url('./../img/improvised-black-mirror-banner.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.social-media-icon {
	height: 50px;
	width: 50px;
	padding: 0 4px 0 4px;
}
